
<nav>
    <div class="dropdown">
        <button class="dropbtn"><i class="fas fa-bars"></i></button>
        <div class="dropdown-content">
            <a href="/salir">Cerrar Sesión</a>
            <a href="/admin/novedades">Novedades</a>
        </div>
    </div>
</nav>
<main>
    <div class="nota-bienvenido">
        <p class="text-right">Bienvenido/a {{nombre}} {{apellido}} !!</p>
    </div>
    <div class="login">
        <div class="boton">
            {{!-- <a href="/salir" class="btn-enviar">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a> --}}
            <h3>Listado de Novedades</h3>
           
        </div>
    </div>
    

    <div class="Novedades">
        <div class="boton">
            <a href="/admin/novedades/agregar" class="btnBlue"><i class="fa fa-plus"></i> Nueva Novedad </a>
        </div>
    
        {{#each novedades}}
        <div class="Novedad">
            <h3>{{titulo}}</h3>
            <div class="botonera">
            <div class="boton">
                <a href="/admin/novedades/modificar/{{id_novedad}}" class="btnGreen"><i class="fas fa-pencil-alt"></i></a>
            </div>
            <div class="boton">
                <a href="/admin/novedades/eliminar/{{id_novedad}}" class="btnRed"><i class="fa fa-trash"></i></a>
            </div>
            </div>
            <h4>{{dateFormat fecha "DD/MM/YY"}}</h4>
            <p>{{contenido}}</p>
        </div>
        {{/each}}
    </div>
</main>
